<div class="page-header">
  <h5>
    My Stations
    <button type="button" class="btn btn-primary btn-sm pull-xs-right" (click)="openNewStationModal()">
     New
    </button>
  </h5>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a class="list-group-item list-group-item-action clickable"
         *ngFor="let station of stations$ | async" (click)="selectStation(station)">
        <h6>{{station.brand}} {{station.name}}</h6>
        <p class="text-muted">{{station.streetaddress}} {{station.zipcode}} {{station.city}}</p>
      </a>
    </div>
  </div>
</div>
