<div class="page-header">
    <h5>Lowest prices</h5>
</div>

<table class="table">
    <tbody *ngFor="let info of pricelist$ | async">
    <tr>
        <th colspan="2" style="background-color: #373a3c; color: #fff;">{{info.type}}</th>
    </tr>
    <tr *ngFor="let price of info.items">
        <td>{{price.brand}} {{price.station}} <small>({{price.station_id}})</small></td>
        <td class="pull-xs-right" style="white-space: nowrap">
            <strong>{{price.pricePerUnit}} € / L</strong>
        </td>
    </tr>
    <tr>
        <td style="border: none!important;" colspan="2">&nbsp;</td>
    </tr>
    </tbody>
</table>