<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    Add price for {{service.selected.brand}} {{service.selected.name}}
    <span *ngIf="service.isActive()" class="icon-container">
        <img src="assets/refreshing.svg" alt="refresh" class="icon-spin refresh-icon pull-xs-right">
    </span>
  </h4>
</div>
<div class="modal-body">
  <station-price-form></station-price-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">Close</button>
</div>