<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" uiSref="home">Menovesi</a>
    <div class="nav navbar-nav">

        <a class="nav-link nav-item" uiSref="stationManager" uiSrefActive="active" *ngIf="userService.isAuthenticated()">Station manager</a>

        <a class="nav-item nav-link pull-xs-right" uiSref="login" uiSrefActive="active" *ngIf="!userService.isAuthenticated()">Login</a>

        <span class="text-muted pull-xs-right" *ngIf="userService.isAuthenticated()">{{userService.user.firstname}} {{userService.user.lastname}}</span>
    </div>
</nav>
