<div class="row">
  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <h4 class="m-y-2">Login</h4>
    <form id="loginForm">
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="Email" name="emailInput" [(ngModel)]="credentials.email"/>
        <small class="form-text text-muted">Please enter your email.<br>For evaluation, please use <b>demo@menovesi.fi</b></small>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="password" name="passwordInput" [(ngModel)]="credentials.password"/>
        <small class="form-text text-muted">Please enter your password.<br>For evaluation, please use <b>demo</b>.</small>
      </div>

      <button type="button" class="btn btn-success" (click)="submitLogin()">Log in</button>

    </form>
  </div>
  <div class="col-xs-12 alert-{{message.class}} text-xs-center m-y-2 p-y-1" *ngIf="message">
    <strong>{{message.msg}}</strong>
  </div>
</div>
