<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    <span *ngIf="!service.datastore.selected || service.datastore.selected.id == 0">New Station</span>
    <span *ngIf="service.datastore.selected && service.datastore.selected.id > 0">Edit Station</span>
    <span *ngIf="service.isActive()" class="icon-container">
        <img src="assets/refreshing.svg" alt="refresh" class="icon-spin refresh-icon pull-xs-right">
    </span>
  </h4>
</div>
<div class="modal-body">
    <station-detail-form></station-detail-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">Close</button>
</div>