<div class="row">
  <div class="col-xs-12" *ngIf="!service.isSelected()">
    <p class="text-xs-center m-t-2">Please select station from the list</p>
  </div>
</div>

<div *ngIf="service.isSelected()">

  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <h5>
              {{station.brand}} {{station.name}}
            </h5>
          </div>
          <div class="col-xs-12 col-lg-6">
            <button class="btn btn-sm btn-primary pull-lg-right" (click)="openPriceModal()">Add price</button>
            <button class="btn btn-sm btn-primary pull-lg-right m-r-1" (click)="openModal()">Edit Station</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <dt>Owner</dt>
      <dd>{{attrService.companyForId(station.company_id).name}}</dd>

      <dt>Address</dt>
      <dd>{{station.streetaddress}} {{station.zipcode}} {{station.city}} {{station.country}}</dd>

      <dt>Geolocation</dt>
      <dd *ngIf="service.isGeolocated()">Longitude: {{station.longitude}}</dd>
      <dd *ngIf="service.isGeolocated()">Latitude: {{station.latitude}}</dd>
      <dd *ngIf="!service.isGeolocated()">Station is not geolocated!</dd>

      <dt>Type</dt>
      <dd>{{station.type}}</dd>

      <dt>Contact</dt>
      <dd>{{station.contact}}</dd>

    </div>
    <div class="col-md-6 sebm-google-map-container">
      <sebm-google-map *ngIf="service.isGeolocated()"
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom">
        <sebm-google-map-marker
          [latitude]="lat"
          [longitude]="lng"
          [markerDraggable]="false"
          [label]="station.name">
        </sebm-google-map-marker>
      </sebm-google-map>
     <div class="col-xs-12 alert-warning text-xs-center" *ngIf="!service.isGeolocated()"
          style="margin-top: 30%; height: 20%; padding:1rem;">
       <strong>Sorry.</strong> Station is not geolocated.
     </div>
    </div>
  </div>

  <station-price></station-price>
</div>

