<app-navbar></app-navbar>

<div class="container">
    <ui-view></ui-view>
</div>

<div class="footer text-xs-center">
    <p>Created by Mika Lifflander &copy; 2016</p>
    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>