<!--<div class="col-xs-12">
  <div class="page-header">
    <h5>Current Prices</h5>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Price per Unit</th>
      <th>Description</th>
      <th>Valid from</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let price of prices.current">
      <td>{{price.type}}</td>
      <td>{{price.pricePerUnit}}</td>
      <td>{{price.description}}</td>
      <td>{{price.validFrom  | date: 'd.MM.yyyy HH:mm' }}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="col-xs-12">
  <div class="page-header">
    <h5>Upcoming prices</h5>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Type</th>
      <th>Price per Unit</th>
      <th>Description</th>
      <th>Valid from</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let price of prices.future">
      <td>{{price.type}}</td>
      <td>{{price.pricePerUnit}}</td>
      <td>{{price.description}}</td>
      <td>{{price.validFrom | date: 'd.MM.yyyy HH:mm' }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-xs-12">
  <div class="page-header">
    <h5>Add new price</h5>
  </div>

  <station-price-form></station-price-form>
</div>
-->
<dt>Current prices</dt>
<dd>
  <table class="table table-sm m-t-1">
    <thead>
    <tr>
      <th>Type</th>
      <th>Price per Unit</th>
      <th>Description</th>
      <th>Valid from</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let price of prices.current">
      <td>{{price.type}}</td>
      <td>{{price.pricePerUnit}}</td>
      <td>{{price.description}}</td>
      <td>{{price.validFrom  | date: 'd.MM.yyyy HH:mm' }}</td>
    </tr>
    </tbody>
  </table>
</dd>
<dt>Future prices</dt>
<dd>
  <table class="table table-sm m-t-1">
    <thead>
    <tr>
      <th>Type</th>
      <th>Price per Unit</th>
      <th>Description</th>
      <th>Valid from</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let price of prices.future">
      <td>{{price.type}}</td>
      <td>{{price.pricePerUnit}}</td>
      <td>{{price.description}}</td>
      <td>{{price.validFrom | date: 'd.MM.yyyy HH:mm' }}</td>
    </tr>
    </tbody>
  </table>
</dd>