<div class="page-header">
    <h4>Welcome to Menovesi</h4>
</div>

<div class="col-md-6 col-lg-4">
    <welcome-price-list></welcome-price-list>
</div>

<div class="col-md-6 col-lg-8" >
    <div class="page-header">
        <h5>All the Stations <strong class="pull-xs-right text-muted">{{stationlist.length}}</strong></h5>
    </div>
    <div class="col-xs-10 offset-xs-1">
        <div class="col-xs-8 offset-xs-4 text-info" role="alert"
             *ngIf="userLocationStatus == LocationStatus.ACTIVE">
            <strong>{{checkLoc}}</strong> {{dots[showDots]}}
        </div>

        <sebm-google-map
                *ngIf="userLocationStatus != LocationStatus.UNKNOWN && userLocationStatus != LocationStatus.ACTIVE"
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
        >
            <sebm-google-map-marker *ngFor="let station of stationlist"
                [latitude]="service.toNumber(station.latitude)"
                [longitude]="service.toNumber(station.longitude)"
                [label]="station.id">

            </sebm-google-map-marker>
        </sebm-google-map>

        <div class="text-xs-center alert alert-warning m-y-2" role="alert"
             *ngIf="userLocationStatus == LocationStatus.UNSUPPORTED">
            <strong>Your browser does not support geolocation.</strong>
        </div>

        <div class="text-xs-center alert alert-danger m-y-2" role="alert"
             *ngIf="userLocationStatus == LocationStatus.FAILED">
            <strong>Failed to get your location!</strong>
        </div>

    </div>

</div>