/* You can add global styles to this file, and also import other style files */
.clickable { cursor: pointer}

.sebm-google-map-container {
    height: 300px;
}

.page-header {
    border-bottom: 1px solid #C9C9C9;
    padding: 8px;
    margin: 16px 0px;
}

div.input-group-addon > img {
    width: 1.2rem;
    height: 1rem;
    cursor: pointer;
}
.footer {
    border-top: 1px solid #E9E9E9;
    color: #A9A9A9;
    padding: 8px;
    margin: 24px 0px 8px 0px;
}

.col-form-label {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
}

span.icon-container {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;
}
.refresh-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.icon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}