<template ngbModalContainer></template>

<div class="page-header">
    <h3>
        Station manager
        <span  *ngIf="service.isActive()" class="icon-container">
            <img src="assets/refreshing.svg" alt="refresh" class="icon-spin refresh-icon pull-xs-right">
        </span>
    </h3>
</div>
<div class="col-md-4">
  <station-list></station-list>
</div>

<div class="col-md-8">
  <station-detail></station-detail>
</div>