<div class="col-xs-12 alert-{{message.class}} text-xs-center m-b-2 p-y-1" *ngIf="message">
    <strong>{{message.msg}}</strong>
</div>

<form class="form">
    <!--
    Fuel type selection
    Date Selection
    Time Selection
    Price
    Description
    -->

    <div class="form-group row">
        <label for="" class="col-form-label col-xs-3">Valid from</label>
        <div class="col-xs-9">
            <div class="input-group">
                <input class="form-control" ngbDatepicker name="idp"
                    [(ngModel)]="selectedDate" #d="ngbDatepicker">
                <div class="input-group-addon" (click)="d.toggle()">
                    <img src="assets/calendar.svg" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-9 offset-xs-3">
            <ngb-timepicker [(ngModel)]="selectedTime" [meridian]="false" name="timepicker"></ngb-timepicker>
        </div>
    </div>
    <div class="form-group row">
        <label for="fueltype" class="col-xs-3 col-form-label">Type</label>
        <div class="col-xs-9">
            <select name="fuelType" id="fuelType" class="form-control" required
                [(ngModel)]="price.fueltype_id">
                <option [selected]="true" disabled [value]="0">--- Select type ---</option>
                <option *ngFor="let ft of attributes.fueltypes" [value]="ft.id">{{ft.type}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-3 col-form-label" for="pricePerUnit">Price (€)</label>
        <div class="col-xs-9">
            <input type="number" class="form-control" id="pricePerUnit" name="pricePerUnit" placeholder="0.000" required [(ngModel)]="price.pricePerUnit">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-3 col-form-label" for="description">Description</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="description" name="description" placeholder="Optional description" [(ngModel)]="price.description">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success pull-xs-right" (click)="save()" [disabled]="!service.datastore.selected">Save</button>
        </div>
    </div>
</form>