<div class="col-xs-12 alert-{{message.class}} text-xs-center m-b-2 p-y-1" *ngIf="message">
  <strong>{{message.msg}}</strong>
</div>

  <form action="">
    <div class="form-group row">
      <label for="company" class="col-xs-4 col-form-label">Company</label>
      <div class="col-xs-8">
        <select name="company" id="company" class="form-control" required [(ngModel)]="station.company_id" (change)="station.brand_id=0">
          <option [selected]="true" disabled [value]="0">--- Select Company ---</option>
          <option *ngFor="let c of attributes.companies" [value]="c.id">{{c.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="brand" class="col-xs-4 col-form-label">Brand</label>
      <div class="col-xs-8">
        <select name="brand" id="brand" class="form-control" required [(ngModel)]="station.brand_id">
          <option disabled [value]="0">--- Select Brand ---</option>
          <option *ngFor="let b of attributes.getBrands(station.company_id)" [value]="b.id">{{b.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="stationType" class="col-xs-4 col-form-label">Type</label>
      <div class="col-xs-8">
        <select name="brand" id="stationType" class="form-control" required [(ngModel)]="station.stationtype_id">
          <option disabled [value]="0">--- Select Type ---</option>
          <option *ngFor="let t of attributes.stationtypes" [value]="t.id">{{t.type}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="stationName" class="col-xs-4 col-form-label">Name</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="Station name"
               id="stationName" name="stationName"
               required
               [(ngModel)]="station.name">
      </div>
    </div>
    <div class="form-group row">
      <label for="streetAddress" class="col-xs-4 col-form-label">Address</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="Street address"
               id="streetAddress" name="streetAddress" [(ngModel)]="station.streetaddress">
      </div>
    </div>
    <div class="form-group row">
      <label for="zipCode" class="col-xs-4 col-form-label">Zip code</label>
      <div class="col-xs-8">
        <input type="number" class="form-control" placeholder="00000" id="zipCode" name="zipCode"
               [(ngModel)]="station.zipcode">
      </div>
    </div>
    <div class="form-group row" >
      <label for="city" class="col-xs-4 col-form-label">City</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="city" id="city"  name="city"
               [(ngModel)]="station.city">
      </div>
    </div>
    <div class="form-group row">
      <label for="state" class="col-xs-4 col-form-label">State</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="State" id="state"  name="state"
               [(ngModel)]="station.state">
      </div>
    </div>
    <div class="form-group row">
      <label for="country" class="col-xs-4 col-form-label">Country</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="country" id="country"  name="country"
               [(ngModel)]="station.country">
      </div>
    </div>
    <div class="form-group row">
      <label for="longitude" class="col-xs-4 col-form-label">Longitude</label>
      <div class="col-xs-8">
        <input type="number" class="form-control" placeholder="" id="longitude" name="longitude"
               [(ngModel)]="station.longitude">
      </div>
    </div>
    <div class="form-group row">
      <label for="latitude" class="col-xs-4 col-form-label">Latitude</label>
      <div class="col-xs-8">
        <input type="number" class="form-control" placeholder="" id="latitude" name="latitude"
               [(ngModel)]="station.latitude">
      </div>
    </div>
    <div class="form-group row">
      <label for="contact" class="col-xs-4 col-form-label">Contact</label>
      <div class="col-xs-8">
        <input type="email" class="form-control" placeholder="" id="contact" name="contact"
               [(ngModel)]="station.contact" disabled>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-success pull-xs-right" (click)="createOrUpdate()">Save</button>
      </div>
    </div>
  </form>
